<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
    <script src="\static\jquery-1.11.3.js"></script>
	<script type="text/javascript" src='/static/login.js'></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/static/style3.css">
	
</head>



<body>

    <div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" id="username">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" id="password">
        </div>


</form>


        <button type="button" class="btn btn-info" id = "login" onclick='login()'>Login</button>

        <button type="button" class="btn btn-info" id = "register" onclick='register()'>Register</button>
 		</div>
 </div>





  </body>


</html>